<h1>Hello, Players!</h1>
<p>Have you ever been to a casino and felt the advantage the house holds over you?</p>
<p>Here at BlackIsJack, you learn how to even the odds!</p>
<ul>
    <li><a href='https://www.blackjackapprenticeship.com/how-to-play-blackjack/'>How to play BlackJack</a></li>
    <li>Mastery of <a href='https://www.blackjackapprenticeship.com/how-to-count-cards/'>Card Counting</a></li>
    <li><a href='https://www.blackjackapprenticeship.com/blackjack-strategy-charts/'>Basic Strategy</a> will become second nature.</li>
</ul>
<p>As a registered player you can: </p>
<ul>
    <li><strong>Keep track of your total Win/Loss percentage</strong>. Located at the top right corner of your profile.</li>
    <li><strong>Practice your card counting skills</strong>. Turn the count On or Off at any point during your session.</li>
    <li><strong>Get strategy pointers while playing</strong></li>
    <li><strong>Always play for FREE</strong>!</li>
</ul>